*{
    color: white;
    font-family: 'Jura', sans-serif;
  }
  
  body {
    background: #02006A;
    background: linear-gradient(#4F005B, #02006A);
    
    height: 100vh;
    font-family: 'Jura', sans-serif;
  }
  
  header{
    font-family: 'Jura', sans-serif;
    height: 150px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./Assets/Img/3255741.jpg);
    
    
  }
  
  
  
  .titre_head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 25px;
    padding-left: 170px;
    float: left;
    align-items: center;
  }
  
  .list_header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 300px;
    margin-left: 65%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    font-size: 150%;
    
    }
    
    .accueil { grid-area: 1 / 1 / 2 / 2; }
    .projets { grid-area: 1 / 2 / 2 / 3; }
    .contact { grid-area: 2 / 1 / 3 / 2; }
    .API { grid-area: 2 / 2 / 3 / 3; }
  
  
  
  .accueil{
    height: 40px;
    background-color: #7400649c;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 4px #800294;
  }
  
  .accueil a{
    text-decoration: none;
    color: white;
  }
  
  .projets{
    height: 40px;
    background-color: #7400649c;
    border-radius: 25px;
    box-shadow: #800294;
    box-shadow: 0px 0px 4px 4px #800294;
  }
  
  .projets a{
    text-decoration: none;
    color: white;
  }
  
  .contact{
    height: 40px;
    background-color: #7400649c;
    border-radius: 25px;
    box-shadow: #800294;
    box-shadow: 0px 0px 4px 4px #800294;
  }
  
  .contact a{
    text-decoration: none;
    color: white;
  }
  
  .API{
    height: 40px;
    background-color: #7400649c;
    border-radius: 25px;
    box-shadow: #800294;
    box-shadow: 0px 0px 4px 4px #800294;
  }
  
  .API a{
    text-decoration: none;
    color: white;
  }
  
  @media screen and (max-width: 800px){
    .titre_head{
        padding-left: 30px;
    }
    
    .list_header{
        width: 200px;
        margin-left: 50%;
        font-size: 100%;
    }
  
    .accueil{
        height: 30px;
        padding-top: 2px;
    }
  
    .projets{
        height: 30px;
        padding-top: 2px;
    }
  
    .contact{
        height: 30px;
        padding-top: 2px;
    }
  
    .API{
        height: 30px;
        padding-top: 2px;
    }
  }

  .box_proj_1{
    margin-top: 50px;
    margin-left: 30px;
    width: 300px;
    height: 400px;
    background-color: #7400649c;
    box-shadow: #800294;
    box-shadow: 0px 0px 4px 4px #800294;
  }